*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Form  */
.logo{
    display: block;
    margin: 20px auto;
    width: 25%;
}

/*  wait  */

.wait{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 15px;
}
.circle{
    margin-top: 0px;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 999px;
    animation: anim 0.7s ease-in-out infinite alternate;
}
@keyframes anim{
    100%{
        transform: translateY(-50px);
    }
}
.circle:nth-child(1){
    animation-delay: 0.2s;
}
.circle:nth-child(2){
    animation-delay: 0.3s;
}
.circle:nth-child(3){
    animation-delay: 0.4s;
}

/* Input */

#search{
    position: relative;
    width: 40%;
    margin: 30px auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
#search label{
    position: absolute;
    padding-left: 10px;
    top: 7px;
    transition: color 0.5s ease-out , top 0.5s ease-out;
}
#search:focus-within label{
    top: -50px;
    color: #f1f1f1;
}

#searchInput{
    width: 100%;
    font-size: 30px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Container Grid */

.containerGrid{
    width: 80%;
    max-width: 1300px;
    height: auto;
    /* background-color: rgb(148, 145, 146); */
    justify-content: center;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    /* background-color: darkgoldenrod; */
    flex-shrink: none;
    margin: 10px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}
.card h1{
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
}
.id{
    box-sizing: initial;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 999px;
    border-left: solid 10px  rgb(209, 209, 209);
    border-bottom: solid 10px  rgb(209, 209, 209);
}
.id p{
    font-size: 20px;
}

.sprite{
    align-self: center;
    width: 150px;
    height: 150px;
    /* background-color: darkorange; */
}
.type{

    /* background-color: rgb(177, 177, 177); */
    align-self: center;
    width: 90%;
    /* height: 50px; */
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.type p{
    align-self: center;
    padding: 2px;
}

@media screen and (max-width :1050px){
    #search{
        margin-top: 20vw;
        width: 80%;
        font-size: 4.5vw;
    }
    #searchInput{
        font-size: 4.5vw;
    }
    #search:focus-within label{
        top: -10vw;
        color: #f1f1f1;
    }
    .circle{
        width: 4vw;
        height: 4vw;
    }
    .wait{
        top : 45vw;
        width: 20vw;
    }
    .logo{
        width: 60vw;
    }
    @keyframes anim{
        100%{
            transform: translateY(-10vw);
        }
}